#No:01 Regression Project on Medical Cost Personal Dataset


> Objective: 
 1. *Various regression algorithms on the real world dataset.*

##Dataset (Medical Cost Personal Datasets)
Columns

**age:** age of primary beneficiary

**sex:** insurance contractor gender, female, male

**bmi:** Body mass index, providing an understanding of body, weights that are relatively high or low relative to height, objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

**children:** Number of children covered by health insurance / Number of dependents

**smoker: **Smoking

**region:** the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

**charges:** Individual medical costs billed by health insurance

In [1]:
import warnings
warnings.filterwarnings("ignore")

### **Import the Libraries**

In [2]:
import numpy as np        
import pandas as pd     
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

### **Dataset**

In [3]:
# Download the data
!wget -O insurance.csv https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0

--2021-12-20 21:30:54--  https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mwgqgjbmfw0xa5p/insurance.csv [following]
--2021-12-20 21:30:54--  https://www.dropbox.com/s/raw/mwgqgjbmfw0xa5p/insurance.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uceeaf3b65c8e92125f8833a527a.dl.dropboxusercontent.com/cd/0/inline/BcP2nYZX8mh7HLO-gWL_M1xv2cnF7xINM1CO_GORUIyr4Xk83SkqBatpyuLek2KXZlXE8su3bq4yWWIuh_-hdgjL3aPXw2ef3mTtmM4Gc5Cz1Pu6MyTGeozmIVmo8InzokBkFK6YWaAEC7YJhFqehcRz/file# [following]
--2021-12-20 21:30:54--  https://uceeaf3b65c8e92125f8833a527a.dl.dropboxusercontent.com/cd/0/inline/BcP2nYZX8mh7HLO-gWL_M1xv2cnF7xINM1CO_GORUIyr4Xk83SkqBatpyuLek2KXZlXE8su3bq4yWWIuh_-hdgjL3aPXw2ef3mTtmM4Gc5Cz1Pu6MyTGeozmIVmo8InzokBkFK6YWaAEC7YJhFqehcRz/file
Resolving uceeaf3b65c8e92125f8833a527a.dl.dropboxusercontent.com (uceeaf3b65c8e92125f8833a527a.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601c:15::a27d:60f
Connecting to uceeaf3b65c8e92125f8833a527a.dl.dropboxusercontent.com (uceeaf3b65c8e92125f8833a527a.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  54.32K  --.-KB/s    in 0.002s

2021-12-20 21:30:55 (25.1 MB/s) - ‘insurance.csv’ saved [55628/55628]

In [16]:
"""importing the dataset """

dataset = pd.read_csv('insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [17]:
# Feature Columns
features = dataset[['age', 'sex', 'bmi', 'children','smoker','region']]
# Target Columns
target = dataset[['charges']]

In [ ]:
features

### **Label Encoding**

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
labelencoder_f = LabelEncoder()
#the country column is represented by numeric value
features['sex'] = labelencoder_f.fit_transform(features['sex'])
features['smoker'] = labelencoder_f.fit_transform(features['smoker'])

In [ ]:
features

### Taking care of missing values

In [26]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(missing_values=np.nan,strategy = "mean") # imputer is an object of Imputer class 
imputer = imputer.fit(features[['age', 'sex', 'bmi', 'children','smoker','region']])

In [ ]:
features[['age', 'sex', 'bmi', 'children','smoker','region']]= imputer.transform(features[['age', 'sex', 'bmi', 'children','smoker','region']])

In [ ]:
features

       age  sex     bmi  children  smoker  region
0     19.0  0.0  27.900       0.0     1.0     3.0
1     18.0  1.0  33.770       1.0     0.0     2.0
2     28.0  1.0  33.000       3.0     0.0     2.0
3     33.0  1.0  22.705       0.0     0.0     1.0
4     32.0  1.0  28.880       0.0     0.0     1.0
...    ...  ...     ...       ...     ...     ...
1333  50.0  1.0  30.970       3.0     0.0     1.0
1334  18.0  0.0  31.920       0.0     0.0     0.0
1335  18.0  0.0  36.850       0.0     0.0     2.0
1336  21.0  0.0  25.800       0.0     0.0     3.0
1337  61.0  0.0  29.070       0.0     1.0     1.0

[1338 rows x 6 columns]

In [ ]:
imputer = SimpleImputer(missing_values=np.nan,strategy = "mean") # imputer is an object of Imputer class 
imputer = imputer.fit(target[['charges']])

In [ ]:
target[['charges']]= imputer.transform(target[['charges']])

In [ ]:
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

### **Splitting Dataset**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
"""Spliting the Dataset into Training Set and Test Set """

X_train,X_test,y_train,y_test=train_test_split(features,target,test_size = 0.2,random_state = 0)
# random_state = 0 is select to get the same result

In [ ]:
print(X_train.shape)
print(X_test.shape)

(1070, 6)
(268, 6)

### **Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
X_sc = StandardScaler()
y_sc = StandardScaler()
y_train = y_sc.fit_transform(y_train[['charges']])
y_test = y_sc.transform(y_test[['charges']])

### Different types of Regression Algorithm

1. Linear Regression (Univariate or Multivariate)
2. Support Vector Regression
3. Decision Tree Regression
4. Random Forest Regressrion

### **Simple Linear Regression**

In [ ]:
from sklearn.linear_model import LinearRegression


regressor = LinearRegression()


regressor.fit(X_train,y_train)

LinearRegression()

In [ ]:
# predicting the Test set Results
y_pred = regressor.predict(X_test)

In [ ]:
regressor.score(X_train,y_train)

0.7368306228430945

In [ ]:
y_test

In [ ]:
X_test

       age  sex     bmi  children  smoker  region
578   52.0  1.0  30.200       1.0     0.0     3.0
610   47.0  0.0  29.370       1.0     0.0     2.0
569   48.0  1.0  40.565       2.0     1.0     1.0
1034  61.0  1.0  38.380       0.0     0.0     1.0
198   51.0  0.0  18.050       0.0     0.0     1.0
...    ...  ...     ...       ...     ...     ...
1084  62.0  0.0  30.495       2.0     0.0     1.0
726   41.0  1.0  28.405       1.0     0.0     1.0
1132  57.0  1.0  40.280       0.0     0.0     0.0
725   30.0  0.0  39.050       3.0     1.0     2.0
963   46.0  1.0  24.795       3.0     0.0     0.0

[268 rows x 6 columns]

In [ ]:
y_pred

array([[-1.82397841e-01],
       [-2.85099148e-01],
       [ 2.07069569e+00],
       [ 2.44003975e-01],
       [-5.23689076e-01],
       [-7.71045640e-01],
       [-9.72926790e-01],
       [ 9.03680276e-02],
       [-3.54761076e-01],
       [-4.81831323e-01],
       [-7.22976711e-01],
       [-2.46702450e-01],
       [-3.79509044e-01],
       [-7.57918614e-01],
       [ 1.22019971e+00],
       [-1.80529836e-01],
       [-1.62836802e-01],
       [-5.98833743e-01],
       [-4.19907641e-01],
       [ 1.15573478e+00],
       [ 1.70180511e+00],
       [ 8.90214986e-02],
       [-1.26625563e-01],
       [ 1.60401397e+00],
       [-7.33827716e-01],
       [-3.38672047e-01],
       [-1.00833105e+00],
       [-2.59908886e-01],
       [-7.61123005e-01],
       [-2.37545828e-01],
       [-3.54025144e-01],
       [ 2.25865181e+00],
       [ 1.90146991e-01],
       [ 3.89151803e-02],
       [ 9.63818549e-01],
       [-6.74078969e-01],
       [-2.99239284e-02],
       [ 1.44695638e+00],
       [ 1.68936662e+00],
       [-8.11207953e-01],
       [-7.68278186e-01],
       [-7.45239884e-01],
       [ 1.44152480e+00],
       [ 2.18381034e+00],
       [ 1.23623931e+00],
       [-6.84691036e-01],
       [-1.89580850e-01],
       [-4.52889275e-01],
       [-8.01172357e-01],
       [-2.20805121e-01],
       [-6.32359617e-01],
       [-8.20337141e-01],
       [ 1.64082144e+00],
       [ 2.10111294e+00],
       [ 2.55120272e-01],
       [-5.12693942e-01],
       [-6.03721743e-01],
       [-3.17640969e-01],
       [-3.29340362e-01],
       [-1.25777709e-01],
       [-9.60617851e-01],
       [ 2.13896226e+00],
       [ 1.65331108e-01],
       [-1.30166837e-01],
       [ 6.50081332e-02],
       [ 5.34949868e-02],
       [ 1.07440023e+00],
       [ 1.57777478e+00],
       [-1.00472724e+00],
       [-2.59068889e-01],
       [-8.13655125e-02],
       [-1.14224475e-01],
       [ 9.90606910e-01],
       [ 2.22401685e-01],
       [-1.68622065e-01],
       [-4.81195816e-02],
       [-5.63409078e-01],
       [-2.77505697e-01],
       [ 1.41473961e+00],
       [ 2.14423359e+00],
       [-9.90977496e-02],
       [ 2.02300285e+00],
       [-7.55261588e-01],
       [-3.30886920e-01],
       [ 1.79793834e+00],
       [ 1.33094409e+00],
       [-3.97283938e-01],
       [-6.99072231e-01],
       [-1.07962513e-01],
       [ 1.42215269e+00],
       [-2.67733528e-01],
       [-1.64046952e-01],
       [-4.12753710e-01],
       [-3.32703571e-01],
       [-4.06262348e-01],
       [-4.95581817e-01],
       [ 1.89818018e+00],
       [ 1.65336972e+00],
       [-4.69958185e-01],
       [ 1.42409851e-01],
       [-7.45802041e-01],
       [-3.74323628e-01],
       [-5.51520686e-01],
       [ 1.54966275e+00],
       [ 1.64435668e+00],
       [-9.38993072e-01],
       [-3.56767285e-01],
       [-5.52997055e-01],
       [ 1.08054256e-01],
       [ 1.98996617e+00],
       [-2.55072202e-01],
       [-2.03392281e-01],
       [-2.53230336e-01],
       [ 1.14197088e+00],
       [ 2.24337940e+00],
       [-3.96945901e-01],
       [-1.08610904e+00],
       [-3.60620720e-01],
       [ 1.55339713e-01],
       [-3.09553756e-01],
       [ 1.85156717e+00],
       [-4.94659566e-01],
       [ 2.97686789e-01],
       [-3.04373717e-01],
       [-4.24121874e-01],
       [-8.56322169e-01],
       [ 1.64250043e+00],
       [ 1.52241685e+00],
       [ 2.18470010e+00],
       [-6.46194567e-01],
       [-2.99610213e-01],
       [-7.81619525e-01],
       [-4.39809622e-01],
       [-3.81767761e-01],
       [ 1.53134062e+00],
       [ 1.38358067e+00],
       [ 1.40842568e+00],
       [-3.44303125e-01],
       [ 1.63258421e+00],
       [-8.27269517e-01],
       [-8.00866708e-01],
       [-1.77704607e-01],
       [ 1.56122203e-02],
       [-3.41197351e-02],
       [-6.51252624e-01],
       [ 2.19478374e-01],
       [ 1.65558863e-01],
       [-9.02825079e-01],
       [-1.10290961e+00],
       [-1.97691452e-01],
       [-4.85557236e-01],
       [ 1.56993854e+00],
       [-7.37267932e-02],
       [-8.84197683e-01],
       [-5.73967149e-01],
       [-4.21520208e-01],
       [-7.39047255e-01],
       [-9.02299711e-01],
       [-1.57531458e-01],
       [-6.22283432e-02],
       [-5.00897235e-01],
       [ 2.83633569e-01],
       [-1.19115761e-01],
       [ 5.69489279e-02],
       [-8.34889923e-01],
       [-4.98814774e-01],
       [ 8.17832741e-01],
       [-4.71337900e-01],
       [-6.46500216e-01],
       [-6.50711839e-01],
       [-5.46418229e-01],
       [-6.70473705e-01],
       [-2.72728567e-01],
       [-6.34079176e-01],
       [-6.35855062e-01],
       [-5.24970170e-01],
       [-7.92936667e-01],
       [-6.38990414e-01],
       [ 2.07075801e+00],
       [-9.80169502e-01],
       [-5.31524924e-02],
       [-3.59766159e-01],
       [ 3.92957054e-02],
       [-6.30781092e-01],
       [-6.68265909e-01],
       [ 1.93723427e+00],
       [-7.41588498e-01],
       [-9.42184609e-01],
       [ 1.61154762e-01],
       [-4.84000846e-02],
       [ 1.82338369e+00],
       [-6.78422268e-01],
       [-6.37707383e-01],
       [ 1.52966803e+00],
       [-5.95216399e-01],
       [-9.34093437e-01],
       [-4.01391326e-01],
       [-2.69971157e-01],
       [-4.14676301e-01],
       [-6.23694978e-01],
       [-8.05709450e-03],
       [ 2.12853404e+00],
       [ 3.91472287e-02],
       [ 1.29672593e+00],
       [-5.43076702e-01],
       [ 1.88243344e+00],
       [-7.88829375e-01],
       [-8.83949345e-02],
       [-3.24589486e-01],
       [-5.65250226e-01],
       [-1.61460440e-01],
       [ 1.08952047e-01],
       [-6.73717724e-01],
       [-7.44827045e-01],
       [-4.54136063e-01],
       [-9.99918993e-01],
       [-4.48079237e-01],
       [-7.32322990e-01],
       [ 1.33368031e-03],
       [-7.43298337e-01],
       [-2.74144134e-01],
       [-4.99661311e-01],
       [-3.37931824e-01],
       [-9.02605559e-01],
       [-1.06098448e-02],
       [ 2.94614177e-01],
       [ 1.66132821e-01],
       [-2.27285635e-01],
       [-6.30202364e-01],
       [-8.90430880e-01],
       [-9.18239772e-01],
       [ 1.56291997e-02],
       [ 9.22957131e-02],
       [-6.86593884e-01],
       [-7.60174274e-01],
       [-3.23824098e-01],
       [-2.70824385e-01],
       [ 1.25100807e+00],
       [-4.66743998e-01],
       [-2.26714272e-01],
       [-5.85714590e-01],
       [ 1.37830753e+00],
       [-1.87398732e-01],
       [-4.76481385e-01],
       [-2.53334565e-01],
       [-8.66639518e-02],
       [-8.52835518e-01],
       [-2.02958268e-01],
       [-9.74060521e-01],
       [-5.15146404e-01],
       [ 1.29554175e+00],
       [ 2.11329766e+00],
       [-5.85128830e-01],
       [-4.01806569e-01],
       [-8.94758942e-01],
       [-1.06615413e+00],
       [-2.34891317e-01],
       [-7.32170965e-01],
       [-6.91905950e-01],
       [-8.78305921e-01],
       [-5.02832317e-01],
       [ 1.67430749e+00],
       [ 2.08314759e+00],
       [ 1.25102029e-01],
       [-4.16778912e-01],
       [ 2.35360442e-01],
       [ 1.66230939e+00],
       [-3.11514235e-01]])

### **Evaluation Matrices**

1. Mean Absolute Error (MAE)
2. Mean Squared Error (MSE)
3. R-Squared Error

In [ ]:
from sklearn.metrics import mean_absolute_error

# MAE

mean_absolute_error(y_test, y_pred)

0.328251006254937

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, y_pred)

0.22213004284614

In [ ]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.7998747145449959

In [ ]:
regressor.score(X_train,y_train)

0.7368306228430945

### **Support Vector Regression**

In [ ]:
# Fitting SVR to the dataset
from sklearn.svm import SVR 

regressor = SVR(kernel = 'linear')
regressor.fit(X_train,y_train)

SVR(kernel='linear')

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
regressor.score(X_train,y_train)

0.6795638290744734

In [ ]:
r2_score(y_test, y_pred)

0.7689076024715965

In [ ]:
mean_absolute_error(y_test, y_pred)

0.26206449818981736

In [ ]:
mean_squared_error(y_test, y_pred)

0.25650214088485607

### **Decision Tree Regression**

In [ ]:
from sklearn.tree import DecisionTreeRegressor


regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)

0.6562575965127319

In [ ]:
regressor.score(X_train,y_train)

0.9982963931606104

In [ ]:
mean_squared_error(y_test, y_pred)

0.3815385679079004

In [ ]:
mean_absolute_error(y_test, y_pred)

0.3008404697042962

### **Random Forest Regression**

In [ ]:
# Fitting the Random Forest Regression with the dataset
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)

0.8757214770662562

In [ ]:
regressor.score(X_train,y_train)

0.9644959129365694

In [ ]:
mean_absolute_error(y_test, y_pred)

0.2156241682333011

In [ ]:
mean_squared_error(y_test, y_pred)

0.1379435565144235

## Discussion
In this experiment, four alternative Regressor algorithms are used to do regression on the "Medical Cost Personal Dataset," including Linear Regression, Support Vector Regression, Decision Tree Regression, and Rando Forest Regression. The libraries were first imported, after which the dataset was retrieved from storage and some preprocessing was performed, such as encoding, handling missing data, and feature scaling. The dataset's charges column was used as the target dataset, and the rest of the columns were used as features. The dataset is then divided into training and testing segments, with training data accounting for 80% of the total. Following the training of the data into regressors, evaluation matrices were utilized to assess the model's performance. The Random Forest Regressor has better evaluation matrices, according to the results analysis.